<form>
  <h2 md-dialog-title>邀请组员</h2>
  <div md-dialog-content>
    <md-input-container class="full-width" floatPlaceholder="never">
      <!-- <md-icon mdPrefix>lock</md-icon> -->
      <input mdInput placeholder="组员姓名" type="text" [mdAutocomplete]="autoMembers">
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button type="button" md-button md-dialog-close>取消</button>
    <button type="button" md-raised-button color="primary" (click)="save()">保存</button>
  </div>
</form>
<md-autocomplete #autoMembers="mdAutocomplete" [displayWith]="displayUser">
  <md-option [value]="item" *ngFor="let item of items">
    {{item.name}}
  </md-option>  
</md-autocomplete>