$primary-color-dark:   #00838f;
$primary-color:        #00BCD4;
$primary-color-light:  #80deea;
$primary-color-text:   #FFFFFF;
$accent-color-dark:    #283593;
$accent-color:         #3f51b5;
$accent-color-light:   #536DFE;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$secondary-border-color: rgba(117, 117, 117,0.3);
$divider-color:        #BDBDBD;
$task-level-emergency-color:#FF0000;
$task-level-important-color:#FF9D00;
$task-level-normal-color:#757575;