$primary-color-dark:   #00838f;
$primary-color:        #00BCD4;
$primary-color-light:  #80deea;
$primary-color-text:   #FFFFFF;
$accent-color-dark:    #283593;
$accent-color:         #3f51b5;
$accent-color-light:   #536DFE;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;