.card{
    height:20rem;
    flex:0 0 20rem;
    margin:10px;
}
:host{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
}
.fab-button{
    position: fixed;
    right:2rem;
    bottom:96px;
    z-index: 998;
}