/* You can add global styles to this file, and also import other style files */
/* here you can put your own css to customize and override the theme */
/* cyrillic-ext */
.no-margin-left {
  margin-left: 0px !important;
}

.scroll-top-move-up {
  bottom: 40px !important;
}

.quiz-page {
  margin-bottom: -15px;
  /*border: solid 2px rgba(38, 194, 129,0.5);*/
}

.quiz-btn {
  margin-top: 25px;
}

.quiz-input {
  padding-top: 0px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 20px !important;
}

.quiz-inline-input {
  display: inline-block;
}

.quiz-block-input {
  display: block;
}

.quiz-input-label{
  padding-left: 0px;
}
.md-radio .quiz-input-label{
  padding-left: 0px;
}

@media (min-width: 768px) {
  .quiz-page {
    margin-bottom: 15px;
    border: solid 2px rgba(51, 51, 51, 0.5);
  }

  .quiz-btn {
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .quiz-page {
    margin-bottom: 15px;
  }

  .quiz-btn {
    margin-top: 25px;
  }
}

/*侧边栏195px展开*/
@media (min-width: 1200px) {
  .quiz-page {
    margin-bottom: 15px;
  }

  .quiz-btn {
    margin-top: 25px;
  }
}

.hidden {
  display: none !important;
}

.quiz-title {
  padding: 0px;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 26px;
  display: block;
  color: #666;
  margin: 0px 0px 20px 0px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  /* subtitle */
}

.quiz-title span {
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
  color: #888;
}

.quiz-title-wrapper {
  text-align: center;
}

.quiz-action {
  position: relative;
}

.quiz-input-action {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 1;
}

.lee-tab-content .lee-tab-pane.active {
  display: block;
}

.lee-tab-content .lee-tab-pane.active.col-flex {
  display: flex;
}

.lee-tab-content .lee-tab-pane {
  display: none;
}

.col-flex {
  display: flex;
  align-items: center;
}

.lee-flex-vertical-center {
  margin-bottom: 15px;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.quiz-text-center {
  text-align: center !important;
}

.border-no-radius {
  border-radius: 0px !important;
}

.black {
  color: #000;
}

.btn-group-none {
  display: block;
  margin: -5px 0px 0px 2px !important;
  height:10px;
}
.btn-group-none > .btn {
  margin: 0px;
}

.btn.disabled {
  opacity: 0.4;
}

.margin-left-normal {
  margin-left: 15px;
}

.btn-group > .dropdown-menu.is-above {
  margin-bottom: 10px;
}

.btn-group > .dropdown-menu.is-above:before {
  position: absolute;
  top: auto;
  bottom: -9px;
  left: 9px;
  right: auto;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-top: 8px solid #e0e0e0;
  border-bottom: none;
  border-left: 8px solid transparent;
  content: '';
}

.btn-group > .dropdown-menu.is-above:after {
  position: absolute;
  top: auto;
  bottom: -7px;
  left: 10px;
  right: auto;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: none;
  border-left: 7px solid transparent;
  content: '';
}

.btn-group > .dropdown-menu.pull-right.is-above:before {
  left: auto;
  right: 9px;
}

.btn-group > .dropdown-menu.pull-right.is-above:after {
  left: auto;
  right: 10px;
}

.dropdown-menu {
  margin-top: 0 !important;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2) !important;
}

.quiz-input.error > div > p {
  color: red;
}
.portlet-no-margin-padding{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.text-right{
  text-align: right;
}
.some-margin-10px-top{
  margin-top: 10px;
}
.some-margin-10px-top{
  margin-top: 10px;
}
.statistics-btn-group{
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-group.pull-right > .btn{
  margin-right:5px;
}
.btn-group.pull-right > .btn:last-child{
  margin-right:0px;
}

.md-checkbox.col{
  margin-right:0px;
}
