<!--The content below is only a placeholder and can be replaced.-->
<!-- BEGIN HEADER -->
<app-header></app-header>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <app-nav></app-nav>
  <!-- END SIDEBAR -->
  <!-- BEGIN CONTENT -->
  <app-content></app-content>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
<!-- BEGIN FOOTER -->
<app-footer></app-footer>
<!-- END FOOTER -->

