<div>
  <span>{{title}}</span>
  <md-icon class="avatar" [svgIcon]="selected" *ngIf="userSVGIcon else imgSelect"></md-icon>
  <ng-template #imgSelect>
    <img [src]="selected" alt="img Slected" class="over">
  </ng-template>
</div>
<div class="scroll-container">
  <md-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <md-grid-tile *ngFor="let item of items;let i=index">
      <div class='image-container'>
        <md-icon class='avatar' [svgIcon]="item" *ngIf="userSVGIcon else imgItem"></md-icon>
        <ng-template #imgItem>
          <img [src]="item" alt="img item" [ngStyle]="{'width': itemWidth}">
        </ng-template>
        <div class="after" (click)="onChange(i)">
          <div class="zoom">
            <md-icon>checked</md-icon>
          </div>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>